.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    border: 3px solid #77d1ee;
}

.change-location-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-location-button-container button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 3px solid #77d1ee;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    color: #151da7;
    font-size: 1.0rem;
    font-weight: bold;
}

.change-location-button-container button:hover {
    background-color: #f0f0f0;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .radius-value {
    font-weight: 600;
    margin-left: 0.5rem;
  }